#
# Copyright (C) 2022 The LineageOS Project
#
# SPDX-License-Identifier: Apache-2.0
#

# Charger
/sys/class/oplus_chg/*  mmi_charging_enable    0660    system  system

# WiFi
firmware_directories /odm/etc/wifi/
